---
// Tailwind CSS import
import './src/styles/global.css'


// Testing JS in Astro.
const str = "Rhyan"
const num = 0
const obj = {
	name: str,
	number: num,
	favorites: ["astro", "css", "js"]
}

// Fucntion to turn some elements visible or not:
const isVisible = true;

// Components imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home" description="Home page description">
	<h1 class="text-3xl font-bold underline">Hello world!</h1>
	<p>Default text from index</p>
	<p>{str}</p>
	<p>{num}</p>
	<p>{obj.name}</p>
	<p>{obj.number}</p>
	<p>{obj.favorites[0]}</p>
	{isVisible && <p>This is visible</p>}
</MainLayout>